.zoro-color {
    font-weight: bold;
    font-size: 110%;
}

.text-brown {
    color: brown !important;
}

.text-coral {
    color: coral !important;
}

.text-burlywood {
    color: burlywood !important;
}

.text-grey {
    color: grey !important;
}

.text-green {
    color: green !important;;
}

.text-light-green {
    color: lightgreen !important;;
}

.text-dark-green {
    color: darkgreen !important;;
}

.text-yellow {
    color: yellow !important;;
}

.text-blue {
    color: rgb(93, 174, 217) !important;;
}

.text-red {
    color: red !important;;
}

.text-white {
    color: white !important;;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.vacation_filter {
    opacity: 0.5;
}

span.status_abbr_inactive {
    color: #8e8e8e !important;
}


#ui-id-16 .msg_sender_label,
#ui-id-16 .msg_sender {
    display: none;
}

#ui-id-16 .msg_content > br:nth-child(1),
#ui-id-16 .msg_content > br:nth-child(3),
#ui-id-16 .msg_content > br:last-child {
    display: none;
}

#top #uv-spreading-btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

#uv_quicksearch {
    position: fixed;
    top: 10px;
    right: 60px;
}

.uv-idletimer-toggle {
    display: none;
}

#advicebarcomponent div#banner_skyscraper {
    position: absolute;
    left: 1205px;
}

.zoro-check-debris {
    position: absolute;
    left: 0px;
    top: 800px;
    display: grid;
    z-index: 100000;
    font-size: 80%;
}

.zoro-check-debris > div {
    width: auto;
    max-width:200px;
}

.zoro-check-debris li {
    padding: 5px;
}

.zoro-check-debris .zoro-debris-action {
    margin-left: 10px;
}

.zoro-check-debris button {
    margin-bottom: 5px;
    cursor: pointer;
}

.zoro-galaxy-run-label{
    margin-left: 10px;
}

.zoro-button {
    width: fit-content;
    font-size: 11px;
}

.zoro-skin .cellPlayerName {
    font-size: 9px;
}

.zoro-visible-rank {
    font-size: 8px;
}
.zoro-skin .espionageInfo .allianceClassInfo,
.zoro-skin .espionageInfo .msgHeadItem .msgTitle,
.zoro-skin .espionageInfo .msgHeadItem .underTitle {
    display: none !important;
}
.zoro-skin .espionageInfo .msgHead {
    position: absolute;
    float: right;
    right: 0;
}

.zoro-skin .espionageInfo .basicInfo .activityInfo {
    padding-right: 200px !important;
}

.zoro-fleet-button {
    margin-left: 10px;
}